/*
En este bloque se desarrolla toda la presentacion o el backfront del proyecto de MINTIC
*/
h3{
	text-align:center;
	background-color:darkred;
	font-style:gray;
	border-radius:10px;
}	
h2{
    text-align:center;
    border:3px solid gray;
    background:white;
    border-radius:10px;
    width:100%;
}
body{
    font-family:arial;
    font-size:30px;
}
.container-main{
    background-image: url(./imagenes//liso1.png);
	margin:0 auto;
	border: 2px solid darkgray;
	box-shadow:10px 10px 10px;
	padding:3em;
	width:70%;
	border-radius:10px;
}
.row{
	display:flex;
}
.columnl{
	width:50%;
	
}
.columnc{
	margin:auto;
	width:50%;
}
.card{
	margin:auto;
	border:3px solid gray;
    border-radius:10px;
	margin:1em;
    padding:20px;
	box-shadow:20px 20px 15px darkgray;
	background:gray;
}
.container{
	height:auto;
	min-height:170px;
    text-align: center;
    font-size:14px;
}
.title{
	font-weight:900;
}
.parra{
	min-height:50px;
}
img{
	display:block;	
	margin:auto;
    width:200px;
    height:200px;
	border-radius:10px;
}
button{
	margin:auto;
	width:35%;
	height:	2em;
	cursor:pointer;
	background-color:darkred;
	border-radius:10px;
	font-weight:800;
}